$baseBorder:  1px solid rgba(235, 235, 235, 1);
$baseGreyColor: rgba(246, 246, 246, 0.4);
$baseBoxShadow: 1px 5px 23px 0px rgba(35, 35, 35, 0.08);
$baseGretText: rgba(103, 103, 103, 1);
$baseYellow: rgba(255, 214, 0, 1);
$baseWightColor: rgba(235, 235, 235, 1);
